<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.demo/menu.application.title" opened="true">
        <item screen="Product.browse" title="msg://com.company.demo.view.product/ProductView.menu"/>
        <item screen="Order_.browse" title="msg://com.company.demo.view.order/OrderView.menu"/>
        <item screen="Category.browse" title="msg://com.company.demo.view.category/categoryListView.menu"/>
        <item screen="User.browse" title="msg://com.company.demo.view.user/UserView.title"/>
    </menu>

</menu-config>